{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }}
    -
    {{ 'error.internal.title'|trans() }}
{% endblock %}

{% block description %}
    {{ 'error.internal.meta_description'|trans() }}
{% endblock %}

{% block view %}
    <h2>{{ 'error.internal.title'|trans() }}</h2>

    <p>
        {{ 'error.internal.description'|trans() }}
    </p>
{% endblock %}
