{% extends 'DhgamacheSkeletonBundle::layout.html.twig' %}

{% block title %}Bisouland v2{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/bisoulandfront/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/bisoulandfront/css/article.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/bisoulandfront/css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/bisoulandfront/css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/bisoulandfront/css/table.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/bisoulandfront/css/dl.css') }}">
{% endblock %}

{% block favicons %}
    <link rel="shortcut icon" href="{{ asset('bundles/bisoulandfront/images/favicon.ico') }}" />
{% endblock %}

{% block content %}
    <header id="layout-header" class="sixteen columns content">
        <a href="{{ path('homepage') }}"><img alt="Bisouland" src="{{ asset('bundles/bisoulandfront/images/logo.gif') }}" /></a>

        <nav>
            {{ knp_menu_render("BisoulandFrontBundle:Builder:mainMenu") }}
        </nav>    
    </header>

    <div class="sixteen columns content">
        {% block view %}{% endblock %}
    </div>

    <footer id="layout-footer">
        <nav class="seven columns offset-by-one content">
            <h2>Statistiques</h2>

            {% render 'BisoulandBeingsBundle:Statistics:index' %}
        </nav>

        <nav class="seven columns offset-by-one content">
            <h2>Cr&eacute;dits</h2>

            <ul>
                <li><a href="http://www.piwai.info/" title="Auteur original">Piwa&iuml;</a></li>
                <li><a href="https://github.com/pyricau/bisouland" title="D&eacute;p&ocirc;t des sources">Code source</a></li>
                <li><a href="http://symfony.com/" title="Symfony2 framework">Symfony</a></li>
                <li><a href="http://www.styleshout.com/" title="CSS template et ressources">Styleshout</a></li>
            </ul>
        </nav>
    </footer>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://konami-js.googlecode.com/svn/trunk/konami.js"></script>
    <script type="text/javascript">
        konami = new Konami()
        konami.load("{{ path("beings") }}");
    </script>
{% endblock %}
