{% extends 'DhgamacheSkeletonBundle::layout.html.twig' %}

{% block title %}Bisouland v2{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/bisoulandfront/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/bisoulandfront/css/article.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/bisoulandfront/css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/bisoulandfront/css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/bisoulandfront/css/table.css') }}">
{% endblock %}

{% block favicons %}
    <link rel="shortcut icon" href="{{ asset('bundles/bisoulandfront/images/favicon.ico') }}" />
{% endblock %}

{% block content %}
    <header id="layout-header" class="fifteen columns content">
        <h1>Bisouland v2</h1>
    </header>

    <aside id="layout-menu" class="fifteen columns content">
        <nav>
            {{ knp_menu_render("BisoulandFrontBundle:Builder:mainMenu") }}
        </nav>    
    </aside>

    <div class="fifteen columns content">
        {% block view %}{% endblock %}
    </div>

    <footer id="layout-footer" class="fifteen columns content">
        <nav class="seven columns alpha">
            <h2>Statistiques</h2>

            <ul>
                <li>{# include "BisoulandBeingsBundle::popultation.html.twig" #}</li>
            </ul>
        </nav>

        <nav class="seven columns omega">
            <h2>Cr&eacute;dits</h2>

            <ul>
                <li><a href="http://www.piwai.info/" title="Auteur original">Piwa&iuml;</a></li>
                <li><a href="https://github.com/pyricau/bisouland" title="D&eacute;p&ocirc;t des sources">Code source</a></li>
                <li><a href="http://symfony.com/" title="Symfony2 framework">Symfony</a></li>
                <li><a href="http://www.styleshout.com/" title="CSS template et ressources">Styleshout</a></li>
            </ul>
        </nav>
    </footer>
{% endblock %}
