<!DOCTYPE html>
<!--[if lt IE 7]>
    <html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
    <html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]>
    <!--><html class="no-js" lang="fr">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
            {% block title %}
                {{ 'layout.brand'|trans() }}
            {% endblock %}
        </title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width">

        {% stylesheets
            '../vendor/normalize.css/normalize.css'
            '../vendor/html5-boilerplate/css/main.css'
            filter = '?uglifycss'
            output = 'css/bisouland.min.css'
        %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong>
            browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>
            or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
            to improve your experience.</p>
        <![endif]-->

        <header>
            <h1>
                <a class="brand" href="{{ path('home') }}">
                    {{ 'layout.brand'|trans() }}
                </a>
            </h1>

            <nav>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ knp_menu_render('user_menu') }}
                {% else %}
                    {{ knp_menu_render('login_menu') }}
                {% endif %}
            </nav>

            {% for class, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="{{ class }}">
                        {{ message|trans() }}
                    </div>
                {% endfor %}
            {% endfor %}
        </header>

        <div class="container">
            {% block view %}{% endblock %}
        </div>

        {% javascripts
            '../vendor/jquery/jquery.js'
            '../vendor/modernizr/modernizr.js'
            filter = '?uglifyjs'
            output = 'js/bisouland.min.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            var _gaq=[['_setAccount','UA-32299315-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
