{% extends '::base.html.twig' %}

{% block meta %}
    <meta name="description" content="Population de Bisouland, liste des personnages du jeu" />
    <meta name="keywords" content="Bisouland, jeu en ligne, navigateur, population, liste personnages" />
{% endblock %}

{% block title %}Bisouland v2 - Amoureux{% endblock %}

{% block view %}
    <article class="table-sorting">
        <h2>Population</h2>
        
        <table id="population" class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th><abbr title="Points d'Amour" class="initialism">PA</abbr></th>
                    <th><abbr title="S&eacute;duction" class="initialism">S</abbr></th>
                    <th><abbr title="Baffe" class="initialism">B</abbr></th>
                    <th><abbr title="Coeur" class="initialism">C</abbr></th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for lover in lovers %}
                    <tr>
                        <td class="number">
                            {{ loop.index }}
                        </td>
                        <td>
                            {% if lover.bonuses is not empty %}
                                <span class="badge badge-success" title="A acquis le bonus">
                                    <i class="icon-star icon-white"></i>
                                </span>
                            {% endif %}
                            {{ lover.name }}
                        </td>
                        <td class="love-points number">
                            {{ lover.lifePoints|number_format_decimal }}
                        </td>
                        <td class="number">
                            {{ lover.bonusAttack|number_format_decimal }}
                        </td>
                        <td class="number">
                            {{ lover.bonusDefense|number_format_decimal }}
                        </td>
                        <td class="number">
                            {{ lover.bonusConstitution|number_format_decimal }}
                        </td>
                        <td>
                            <a href="{{ path('lovers_view', {"name": lover.name}) }}" title="Voir">
                                <i class="icon-eye-open"></i>
                            </a>
                            {% if lover.name != app.session.get('selectedLoverName') %}
                                <a href="{{ path('lovers_select', {"name": lover.name}) }}" title="S&eacute;lectionner">
                                    <i class="icon-hand-left"></i>
                                </a>
                                <a href="{{ path('kiss', {"kissedName": lover.name}) }}" title="Embrasser">
                                    <i class="icon-heart"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}

{% block afterJs %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.countdown.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.countdown-fr.js') }}"></script></script>

    <script type="text/javascript">
        $('tr').each(function() {
            var timeLeftInSeconds = $('.love-points', this).text().replace(/\s|,/g, '')

            $('.love-points', this).countdown({
                until: timeLeftInSeconds
                , compact: true
                , format: 'S'
            })
        })
    </script>
{% endblock %}
