{% extends '::base.html.twig' %}

{% block meta %}
    <meta name="description" content="Amoureux de Bisouland, personnage du jeu" />
    <meta name="keywords" content="Bisouland, jeu en ligne, navigateur, amoureux, personnage" />
{% endblock %}

{% block title %}
    Bisouland v2 - Voir l'amoureux
    {% if lover.name is defined %}
        {{ lover.name }}
    {% endif %}
{% endblock %}

{% block view %}
    {% if lover.name is not defined %}
        <article>
            <h2>Erreur</h2>
            
            <p>
                L'amoureux que vous essayez de voir n'existe pas (ou plus).
            </p>
        </article>
    {% else %}
        <article>
            <h2>
                Amoureux {{ lover.name }}
                {% if lover.bonuses is not empty %}
                    <span class="badge badge-success" title="A acquis le bonus">
                        <i class="icon-star icon-white"></i>
                    </span>
                {% endif %}
            </h2>

            <table class="table table-striped">
                <tr>
                    <th>
                        <abbr title="Points d'Amour" class="initialism">PA</abbr>
                    </th>
                    <td id="love-points" class="number">
                        {{ lover.lovePoints|number_format_decimal }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Temps restant
                    </th>
                    <td id="time-left" class="number">
                        {{ lover.lovePoints|number_format_decimal }}
                    </td>
                </tr>
                <tr>
                    <th>
                        &Acirc;ge
                    </th>
                    <td id="age" class="number">
                        {{ lover.ageInSeconds|number_format_decimal }}
                    </td>
                </tr>
            </table>

            {% if lover.name != app.session.get('selectedLoverName') %}
                <p>
                    <a href="{{ path('kiss', {"kissedName": lover.name}) }}" class="btn btn-large btn-primary">
                        <span class="badge">
                            <i class="icon-heart"></i>
                        </span>
                        Embrasser
                    </a>
                    <a href="{{ path('lovers_select', {"name": lover.name}) }}" class="btn btn-large">
                        <span class="badge">
                            <i class="icon-hand-right"></i>
                        </span>
                        S&eacute;lectionner
                    </a>
                </p>
            {% endif %}
        </article>

        <article>
            <h2>Bonus</h2>

            <table class="table table-striped">
                <tr>
                    <th>
                        S&eacute;duction
                    </th>
                    <td class="number">
                        {{ lover.seductionBonus|number_format_decimal }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Esquive
                    </th>
                    <td class="number">
                        {{ lover.dodgeBonus|number_format_decimal }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Langue
                    </th>
                    <td class="number">
                        {{ lover.tongueBonus|number_format_decimal }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Baffe
                    </th>
                    <td class="number">
                        {{ lover.slapBonus|number_format_decimal }}
                    </td>
                </tr>
            </table>

            <h3>
                Am&eacute;liorer un bonus
                <small>
                    Co&ucirc;t :
                    <span class="number">
                        {{ lover.nextLevelCost|number_format_decimal }}
                    </span>
                    <abbr class="initialism" title="Points d'Amour">
                        PA
                    </abbr>
                </small>
            </h3>

            <form action="{{ path('lovers_view', {'name': lover.name}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">Bonus</label>

                        <div class="controls">
                            <label class="radio">
                                <input type="radio" name="form[levelUp]" id="form_levelUp_0" required="required" value="0" />
                                S&eacute;duction
                            </label>
                            <label class="radio">
                                <input type="radio" name="form[levelUp]" id="form_levelUp_1" required="required" value="1" />
                                Langue
                            </label>
                            <label class="radio">
                                <input type="radio" name="form[levelUp]" id="form_levelUp_2" required="required" value="2" />
                                Esquive
                            </label>
                            <label class="radio">
                                <input type="radio" name="form[levelUp]" id="form_levelUp_3" required="required" value="3" />
                                Baffe
                            </label>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">
                            Am&eacute;liorer
                        </button>
                    </div>
                </fieldset>
            </form>
        </article>

        <article>
            <h3>Bisous re&ccedil;us</h3>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Amoureux</th>
                        <th>Baiser fougeux ?</th>
                        <th><abbr title="Points d'Amour" class="initialism">PA</abbr> perdus</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for kissReceived in lover.kissesReceived %}
                        {% if kissReceived.hasSucceeded %}
                            <tbody>
                                <tr>
                                    <td>{{ kissReceived.kisser.name }}</td>
                                    <td>
                                        <span class="label label-success">
                                            {% if kissReceived.isCritical %}
                                                Baiser fougeux
                                            {% else %}
                                                <i class="icon-ok icon-white"></i>
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="number">{{ kissReceived.damages|number_format_decimal }}</td>
                                    <td>{{ kissReceived.created|date("H:m:i d/m/Y") }}</td>
                                    <td>
                                        <a href="{{ path('lovers_view', {"name": kissReceived.kisser.name}) }}" title="Voir">
                                            <i class="icon-eye-open"></i>
                                        </a>
                                        {% if kissReceived.kisser.name != app.session.get('selectedLoverName') %}
                                            <a href="{{ path('lovers_select', {"name": kissReceived.kisser.name}) }}" title="S&eacute;lectionner">
                                                <i class="icon-hand-left"></i>
                                            </a>
                                            <a href="{{ path('kiss', {"kissedName": kissReceived.kisser.name}) }}" title="Embrasser">
                                                <i class="icon-heart"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </article>

        <article>
            <h3>Claques donn&eacute;es</h3>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Amoureux</th>
                        <th>Gros vent ?</th>
                        <th><abbr title="Points d'Amour" class="initialism">PA</abbr> gagn&eacute;s</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for kissReceived in lover.kissesReceived %}
                        {% if not kissReceived.hasSucceeded %}
                            <tbody>
                                <tr>
                                    <td>{{ kissReceived.kisser.name }}</td>
                                    <td>
                                        <span class="label label-important">
                                            {% if kissReceived.isCritical %}
                                                Gros vent
                                            {% else %}
                                                <i class="icon-remove icon-white"></i>
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="number">{{ kissReceived.damages|number_format_decimal }}</td>
                                    <td>{{ kissReceived.created|date("H:m:i d/m/Y") }}</td>
                                    <td>
                                        <a href="{{ path('lovers_view', {"name": kissReceived.kisser.name}) }}" title="Voir">
                                            <i class="icon-eye-open"></i>
                                        </a>
                                        {% if kissReceived.kisser.name != app.session.get('selectedLoverName') %}
                                            <a href="{{ path('lovers_select', {"name": kissReceived.kisser.name}) }}" title="S&eacute;lectionner">
                                                <i class="icon-hand-left"></i>
                                            </a>
                                            <a href="{{ path('kiss', {"kissedName": kissReceived.kisser.name}) }}" title="Embrasser">
                                                <i class="icon-heart"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </article>

        <article>
            <h3>Bisous envoy&eacute;s</h3>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Amoureux</th>
                        <th>Baiser fougeux ?</th>
                        <th><abbr title="Points d'Amour" class="initialism">PA</abbr> gagn&eacute;s</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for kissDone in lover.kissesDone %}
                        {% if kissDone.hasSucceeded %}
                            <tbody>
                                <tr>
                                    <td>{{ kissDone.kissed.name }}</td>
                                    <td>
                                        <span class="label label-success">
                                            {% if kissDone.isCritical %}
                                                Baiser fougeux
                                            {% else %}
                                                <i class="icon-ok icon-white"></i>
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="number">{{ kissDone.damages|number_format_decimal }}</td>
                                    <td>{{ kissDone.created|date("H:m:i d/m/Y") }}</td>
                                    <td>
                                        <a href="{{ path('lovers_view', {"name": kissDone.kissed.name}) }}" title="Voir">
                                            <i class="icon-eye-open"></i>
                                        </a>
                                        {% if kissDone.kissed.name != app.session.get('selectedLoverName') %}
                                            <a href="{{ path('lovers_select', {"name": kissDone.kissed.name}) }}" title="S&eacute;lectionner">
                                                <i class="icon-hand-left"></i>
                                            </a>
                                            <a href="{{ path('kiss', {"kissedName": kissDone.kissed.name}) }}" title="Embrasser">
                                                <i class="icon-heart"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </article>

        <article>
            <h3>Claques prises</h3>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Amoureux</th>
                        <th>Gros vent ?</th>
                        <th><abbr title="Points d'Amour" class="initialism">PA</abbr> perdus</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for kissDone in lover.kissesDone %}
                        {% if not kissDone.hasSucceeded %}
                            <tbody>
                                <tr>
                                    <td>{{ kissDone.kissed.name }}</td>
                                    <td>
                                        <span class="label label-important">
                                            {% if kissDone.isCritical %}
                                                Gros vent
                                            {% else %}
                                                <i class="icon-remove icon-white"></i>
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="number">{{ kissDone.damages|number_format_decimal }}</td>
                                    <td>{{ kissDone.created|date("H:m:i d/m/Y") }}</td>
                                    <td>
                                        <a href="{{ path('lovers_view', {"name": kissDone.kissed.name}) }}" title="Voir">
                                            <i class="icon-eye-open"></i>
                                        </a>
                                        {% if kissDone.kissed.name != app.session.get('selectedLoverName') %}
                                            <a href="{{ path('lovers_select', {"name": kissDone.kissed.name}) }}" title="S&eacute;lectionner">
                                                <i class="icon-hand-left"></i>
                                            </a>
                                            <a href="{{ path('kiss', {"kissedName": kissDone.kissed.name}) }}" title="Embrasser">
                                                <i class="icon-heart"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </article>
    {% endif %}
{% endblock %}

{% block afterJs %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.countdown.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.countdown-fr.js') }}"></script>
    <script type="text/javascript">
        var ageInSeconds = $('#age').text().replace(/\s/g, '')
        var timeLeftInSeconds = $('#time-left').text().replace(/\s/g, '')

        $('#age').countdown({
            since: -1 * ageInSeconds
            , compact: true
            , format: 'DHMS'
        })
        $('#time-left').countdown({
            until: timeLeftInSeconds
            , compact: true
            , format: 'DHMS'
        })
        $('#love-points').countdown({
            until: timeLeftInSeconds
            , compact: true
            , format: 'S'
        })
    </script>
{% endblock %}
