<dl id="bonus_statistics" class="dl-horizontal statistics">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Stat.</th>
                <th>S&eacute;duction</th>
                <th>Esquive</th>
                <th>Langue</th>
                <th>Baffe</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>Minimum</th>
                <td>{{ minimum_seduction }}</td>
                <td>{{ minimum_dodge }}</td>
                <td>{{ minimum_tongue }}</td>
                <td>{{ minimum_slap }}</td>
            </tr>
            <tr>
                <th>Moyenne</th>
                <td>{{ average_seduction }}</td>
                <td>{{ average_dodge }}</td>
                <td>{{ average_tongue }}</td>
                <td>{{ average_slap }}</td>
            </tr>
            <tr>
                <th>Maximum</th>
                <td>{{ maximum_seduction }}</td>
                <td>{{ maximum_dodge }}</td>
                <td>{{ maximum_tongue }}</td>
                <td>{{ maximum_slap }}</td>
            </tr>
        </tbody>
    </table>
</dl>

<script type="text/javascript">
    google.load('visualization', '1', { packages:['corechart'] })
    google.setOnLoadCallback(drawBonusChart)
    function drawBonusChart() {
        var data = google.visualization.arrayToDataTable([
            ['Type', 'Minimum', 'Moyenne', 'Maximum']
            , ['Seduction', {{ minimum_seduction }}, {{ average_seduction }}, {{ maximum_seduction }}]
            , ['Esquive', {{ minimum_dodge }}, {{ average_dodge }}, {{ maximum_dodge }}]
            , ['Langue', {{ minimum_tongue }}, {{ average_tongue }}, {{ maximum_tongue }}]
            , ['Baffe', {{ minimum_slap }}, {{ average_slap }}, {{ maximum_slap }}]
        ])

        var options = {'title': 'statistiques'}

        var chart = new google.visualization.ColumnChart(document.getElementById('bonus_statistics'))
        chart.draw(data, options)
    }
</script>
