{% extends "::layout.html.twig" %}

{% block view %}
    <h2>{{ 'profile.title'|trans() }}</h2>

    {% include "BisoulandUserBundle:Profile:edit_content.html.twig" %}

    <h2>{{ 'profile.removal.title'|trans() }}</h2>

    <p>
        {{ 'profile.removal.description'|trans() }}
    </p>

    <p>
        <a href="{{ path('account_removal_confirmation') }}" class="button">
            {{ 'profile.removal.button'|trans() }}
        </a>
    </p>
{% endblock view %}
