{% extends '::base.html.twig' %}

{% block meta %}
    <meta name="description" content="Population de Bisouland, liste des personnages du jeu" />
    <meta name="keywords" content="Bisouland, jeu en ligne, navigateur, population, liste personnages" />
{% endblock %}

{% block title %}Bisouland v2 - Population{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.countdown.css') }}" />
{% endblock %}

{% block view %}
    <article>
        <h2>Population</h2>
        
        <table id="population" class="table table-striped">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th><abbr title="Points d'Amour" class="initialism">PA</abbr></th>
                <th><abbr title="S&eacute;duction" class="initialism">S</abbr></th>
                <th><abbr title="Baffe" class="initialism">B</abbr></th>
                <th><abbr title="Coeur" class="initialism">B</abbr></th>
                <th>Actions</th>
            </tr>

            {% for being in beings %}
                <tr>
                    <td class="number">
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ being.name }}
                    </td>
                    <td class="love-points number">
                        {{ being.lovePoints|number_format_decimal }}
                    </td>
                    <td class="number">
                        {{ being.bonusSeduction|number_format_decimal }}
                    </td>
                    <td class="number">
                        {{ being.bonusSlap|number_format_decimal }}
                    </td>
                    <td class="number">
                        {{ being.bonusHeart|number_format_decimal }}
                    </td>
                    <td>
                        <a href="{{ path('beings_view', {"name": being.name}) }}" title="Voir">
                            <i class="icon-eye-open"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </article>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.countdown.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.countdown-fr.js') }}"></script>
    <script type="text/javascript">
        $('#show-help').click(function() {
            $('.help').show('slow');
            $(this).hide();
        });

        $('tr').each(function() {
            var timeLeftInSeconds = $('.love-points', this).text().replace(/\s/g, '')

            $('.love-points', this).countdown({
                until: timeLeftInSeconds
                , compact: true
                , format: 'S'
            })
        })
    </script>
{% endblock %}
