{% extends '::base.html.twig' %}

{% block meta %}
    <meta name="description" content="Population de Bisouland, liste des personnages du jeu" />
    <meta name="keywords" content="Bisouland, jeu en ligne, navigateur, population, liste personnages" />
{% endblock %}

{% block title %}Bisouland v2 - Population{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.countdown.css') }}" />
{% endblock %}

{% block view %}
    <article>
        <h2>Population</h2>
        
        <section class="help">
            <h3>Aide</h3>

            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#population" data-toggle="tab">
                        Population
                    </a>
                </li>
                <li>
                    <a href="#love-points" data-toggle="tab">
                        <abbr title="Points d'Amour" class="initialism">PA</abbr>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <p class="tab-pane active" id="population">
                    La population est r&eacute;gul&eacute;e naturellement
                    par la cr&eacute;ation et suppression automatique de
                    personnages.<br />
                    &Agrave; chaque visite sur le site, un nouveau
                    personnage est automatiquement cr&eacute;&eacute; et
                    &agrave; chaque fois qu'un personnage perd le jeu, il
                    est supprim&eacute; automatiquement.
                </li>
                <p class="tab-pane" id="love-points">
                    Les Points d'Amour
                    (<abbr title="Points d'Amour" class="initialism">PA</abbr>) sont la
                    ressource de ce jeu : ils se traduisent par le temps
                    restant, en secondes, avant que le personnage ne perde
                    le jeu.<br />
                    Les <abbr title="Points d'Amour" class="initialism">PA</abbr> diminuent
                    naturellement d'un point par seconde.<br />
                    Lorsqu'un personnage atteind 0
                    <abbr title="Points d'Amour" class="initialism">PA</abbr>, il perd le jeu
                    et est supprim&eacute;.
                </p>
            </div>
        </section>
        
        <button type="button" id="show-help" class="btn-large btn-info">
            Afficher l'aide
        </button>
        
        <table id="population" class="table table-striped">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th><abbr title="Points d'Amour" class="initialism">PA</abbr></th>
                <th>&Acirc;ge</th>
            </tr>

            {% for being in beings %}
                <tr>
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ being.name }}
                    </td>
                    <td class="time-left number">
                        {{ being.lovePoints|number_format_decimal }}
                    </td>
                    <td class="age number">
                        {{ being.age|number_format_decimal }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </article>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.countdown.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.countdown-fr.js') }}"></script>
    <script type="text/javascript">
        $('#show-help').click(function() {
            $('.help').show('slow');
            $(this).hide();
        });

        $('tr').each(function() {
            var ageInSeconds = $('.age', this).text().replace(/\s/g, '')
            var timeLeftInSeconds = $('.time-left', this).text().replace(/\s/g, '')

            $('.age', this).countdown({
                since: -1 * ageInSeconds
                , compact: true
                , format: 'DHMS'
            })
            $('.time-left', this).countdown({
                until: timeLeftInSeconds
                , compact: true
                , format: 'DHMS'
            })
        })
    </script>
{% endblock %}
