{% extends '::base.html.twig' %}

{% block title %}Bisouland v2 - Population{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.countdown.css') }}" />
{% endblock %}

{% block view %}
    <article>
        <h2>Personnages</h2>

        <table id="population">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Points d'Amour (<abbr title="Points d'Amour">PA</abbr>)</th>
                <th>&Acirc;ge</th>
            </tr>

            {% for being in beings %}
                <tr>
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ being.name }}
                    </td>
                    <td class="number">
                        {{ being.lovePoints|number_format_decimal }}
                    </td>
                    <td class="age number">
                        {{ being.age|number_format_decimal }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </article>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.countdown.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.countdown-fr.js') }}"></script>
    <script type="text/javascript">
        $('td.age').each(function() {
            var ageInSeconds = $(this).text().replace(/\s/g, '');
            var today = new Date().getTime();
            var birthday = today - parseInt(ageInSeconds) * 1000;

            $(this).countdown({
                since: new Date(birthday),
                compact: true,
                format: 'DHMS'
            });
        });
    </script>
{% endblock %}
