{% extends '::base.html.twig' %}

{% block meta %}
    <meta name="description" content="Population de Bisouland, liste des personnages du jeu" />
    <meta name="keywords" content="Bisouland, jeu en ligne, navigateur, population, liste personnages" />
{% endblock %}

{% block title %}Bisouland v2 - Population{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.countdown.css') }}" />
{% endblock %}

{% block view %}
    <article>
        <h2>Population</h2>
        
        <table id="population" class="table table-striped">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th><abbr title="Points d'Amour" class="initialism">PA</abbr></th>
                <th>&Acirc;ge</th>
            </tr>

            {% for being in beings %}
                <tr>
                    <td class="number">
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ being.name }}
                    </td>
                    <td class="time-left number">
                        {{ being.lovePoints|number_format_decimal }}
                    </td>
                    <td class="age number">
                        {{ being.age|number_format_decimal }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </article>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.countdown.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.countdown-fr.js') }}"></script>
    <script type="text/javascript">
        $('#show-help').click(function() {
            $('.help').show('slow');
            $(this).hide();
        });

        $('tr').each(function() {
            var ageInSeconds = $('.age', this).text().replace(/\s/g, '')
            var timeLeftInSeconds = $('.time-left', this).text().replace(/\s/g, '')

            $('.age', this).countdown({
                since: -1 * ageInSeconds
                , compact: true
                , format: 'DHMS'
            })
            $('.time-left', this).countdown({
                until: timeLeftInSeconds
                , compact: true
                , format: 'DHMS'
            })
        })
    </script>
{% endblock %}
