{% extends '::base.html.twig' %}

{% block title %}Bisouland v2 - Population{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.countdown.css') }}" />
{% endblock %}

{% block view %}
    <article>
        <h2>Population</h2>
        
        <section class="help">
            <h3>Aide</h3>

            <dl>
                <dt>
                    Points d'Amour (<abbr title="Points d'Amour">PA</abbr>):
                </dt>
                <dd>
                    La ressource de ce jeu : se traduit en temps restant, en secondes
                </dd>
            </dl>
        </section>
        
        <table id="population">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th><abbr title="Points d'Amour">PA</abbr></th>
                <th>&Acirc;ge</th>
            </tr>

            {% for being in beings %}
                <tr>
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ being.name }}
                    </td>
                    <td class="time-left number">
                        {{ being.lovePoints|number_format_decimal }}
                    </td>
                    <td class="age number">
                        {{ being.age|number_format_decimal }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </article>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.countdown.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.countdown-fr.js') }}"></script>
    <script type="text/javascript">
        $('tr').each(function() {
            var ageInSeconds = $('.age', this).text().replace(/\s/g, '')
            var timeLeftInSeconds = $('.time-left', this).text().replace(/\s/g, '')

            $('.age', this).countdown({
                since: -1 * ageInSeconds
                , compact: true
                , format: 'DHMS'
            })
            $('.time-left', this).countdown({
                until: timeLeftInSeconds
                , compact: true
                , format: 'DHMS'
            })
        })
    </script>
{% endblock %}
