{% extends '::base.html.twig' %}

{% block title %}Bisouland v2 - Population{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.countdown.css') }}" />
{% endblock %}

{% block view %}
    <article>
        <h2>Population</h2>
        
        <section class="help">
            <h3>Aide</h3>

            <ul class="tabs">
                <li>
                    <a class="active" href="#love-points">
                        Points d'Amour (<abbr title="Points d'Amour">PA</abbr>)
                    </a>
                </li>
            </ul>

            <ul class="tabs-content">
                <li class="active" id="love-points">
                    <p>
                        La ressource de ce jeu : se traduit par le temps
                        restant, en secondes, avant que le personnage ne perde
                        le jeu.<br />
                        Les <abbr title="Points d'Amour">PA</abbr> diminuent
                        naturellement d'un point par seconde.<br />
                        Lorsqu'ils atteignent 0, le personnage est
                        supprim&eacute; du jeu : il aura perdu.
                    </p>
                </li>
            </ul>
        </section>
        
        <button type="button" id="show-help">
            Afficher l'aide
        </button>
        
        <table id="population">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th><abbr title="Points d'Amour">PA</abbr></th>
                <th>&Acirc;ge</th>
            </tr>

            {% for being in beings %}
                <tr>
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ being.name }}
                    </td>
                    <td class="time-left number">
                        {{ being.lovePoints|number_format_decimal }}
                    </td>
                    <td class="age number">
                        {{ being.age|number_format_decimal }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </article>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.countdown.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.countdown-fr.js') }}"></script>
    <script type="text/javascript">
        $('#show-help').click(function() {
            $('.help').show('slow');
            $(this).hide();
        });

        $('tr').each(function() {
            var ageInSeconds = $('.age', this).text().replace(/\s/g, '')
            var timeLeftInSeconds = $('.time-left', this).text().replace(/\s/g, '')

            $('.age', this).countdown({
                since: -1 * ageInSeconds
                , compact: true
                , format: 'DHMS'
            })
            $('.time-left', this).countdown({
                until: timeLeftInSeconds
                , compact: true
                , format: 'DHMS'
            })
        })
    </script>
{% endblock %}
