{% extends '::layout.html.twig' %}

{% block view %}
    <article>
        <section>
            <h2>
                {{ 'pre_registration.main.title'|trans() }}
                <small>
                    {{ 'pre_registration.main.small_title'|trans() }}
                </small>
            </h2>

            <p>
                {{ 'pre_registration.main.description'|trans() }}
            </p>

            <p>
                <a href="{{ path('fos_user_registration_register') }}">
                    {{ 'layout.register'|trans() }}
                </a>
            </p>
        </section>
    </article>

    <article>
        <section class="information">
            <h3>{{ 'pre_registration.resource.title'|trans() }}</h3>

            <p>
                {{ 'pre_registration.resource.description'|trans()  }}
            </p>

            <p>
                {{ 'pre_registration.resource.attributes'|trans() }}
            </p>
        </section>

        <section class="information">
            <h3>{{ 'pre_registration.attack.title'|trans() }}</h3>

            <p>
                {{ 'pre_registration.attack.description'|trans() }}
            </p>

            <p>
                {{ 'pre_registration.attack.attributes'|trans() }}
            </p>
        </section>
    </article>

    <article>
        <section class="information">
            <h3>{{ 'pre_registration.travel.title'|trans() }}</h3>

            <p>
                {{ 'pre_registration.travel.description'|trans() }}
            </p>

            <p>
                {{ 'pre_registration.travel.attributes'|trans() }}
            </p>
        </section>

        <section class="information">
            <h3>{{ 'pre_registration.spying.title'|trans() }}</h3>

            <p>
                {{ 'pre_registration.spying.description'|trans() }}
            </p>

            <p>
                {{ 'pre_registration.spying.attributes'|trans() }}
            </p>
        </section>
    </article>

    <article>
        <section>
            <h3>{{ 'pre_registration.work_in_progress.title'|trans() }}</h3>

            <p>
                {{ 'pre_registration.work_in_progress.description'|trans() }}
            </p>

            <p>
                <a href="{{ path('fos_user_registration_register') }}">
                    {{ 'layout.register'|trans() }}
                </a>
            </p>
        </section>
    </article>
{% endblock %}
