{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<h2>{{ 'login.title'|trans() }}</h2>

{% if error %}
    <ul class="field-error">
        <li>{{ error|trans({}, 'FOSUserBundle') }}</li>
    </ul>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <fieldset>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="field">
            <label for="username" class="field-label field-placeholder">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="field-input" />
        </div>

        <div class="field">
            <label for="password" class="field-label field-placeholder">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" required="required" class="field-input" />
        </div>

        <input type="submit" id="_submit" name="_submit" class="button button-login" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />

        <div class="field field-remember">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="input-remember" />
            <label for="remember_me" class="field-label">
                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </label>
        </div>
    </fieldset>
</form>
{% endblock fos_user_content %}
